html {
    font-size: 12px;
    height: 100%;
}
body {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.tab-nav.tabs {
    height: 4.5rem;
    padding-top: 1rem;
    border-top: 1px solid #bdbdbd !important;
}
ion-content {
    color: #eee;
    background-color: #212121;
}
.tab-item {
    font-family: 'Microsoft YaHei', sans-serif;
    color: #fff;
    font-size: 1rem;
}
.tab-item .icon {
    font-size: 1.5rem;
    height: auto;
    padding-bottom: .4rem;
}
.tab-item span {
    font-size: 1rem;
}
.tab-item.tab-item-active,
.tab-item.activated {
    margin: 0 !important;
    color: #ffeb3b !important;
    border: 0 !important;
}
/*--------------推荐----------------------*/
.recommend {
    width: 90%;
    margin: 0 auto;
    color: #eee;
}
.recommend .slider {
    margin: 2.5% 0 8% 0;
}
.recommend .slider-pager {
    bottom: 3%;
    text-align: right;
}
.slider-pager .slider-pager-page {
    margin: 0 .1rem;
    opacity: 1;
    color: #212121;
}
.slider-pager .slider-pager-page:nth-last-child(1) {
    margin-right: 3%;
}
.slider-pager-page.active {
    color: #c9c606;
}
.recommend-slide {
    position: relative;
    padding-top: 64%;
    background: no-repeat center/cover;
    background-image: url(../img/recommend-slide.png);
}
.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15% 6% 0 6%;
}
.recommend-slide .title {
    font-size: 1.9rem;
    margin-bottom: 4%;
}
.recommend-slide p {
    display: -webkit-box;
    overflow: hidden;
    width: 80%;
    height: 4.5rem;
    margin-top: 4%;
    text-align: justify;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.recommend-other {
    font-size: 1.2rem;
    position: relative;
    top: -.7rem;
    left: 1rem;
    padding: 0 .5rem;
    color: #b6a832;
    background-color: #212121;
}
.recommend-line {
    width: 106%;
    height: 1px;
    margin-bottom: -3px;
    margin-left: -3%;
    background: linear-gradient(to right, rgba(231, 231, 4, .1), rgba(231, 231, 4, .8) 3%, rgba(231, 231, 4, .8) 97%, rgba(231, 231, 4, .1));
}
.recommend-list {
    overflow: hidden;
}
.recommend-item {
    position: relative;
    float: left;
    width: 48.5%;
    margin-bottom: 3%;
    padding-top: 48.5%;
    background: no-repeat center/cover;
    background-image: url(../img/recommend-back.png);
}
.recommend-item:nth-child(even) {
    margin-left: 3%;
}
.recommend-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .6rem 0 .3rem .6rem;
    background-color: rgba(15, 59, 145, .8);
}
.recommend-content .title {
    font-size: 1.3rem;
    margin-bottom: .6rem;
}
.recommend-content span {
    margin-right: .3rem;
}
/*----------------专题-----------------------*/
.topic {
    color: #eee;
}
.topic-item {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 36%;
    background: url(../img/topic-back.png) no-repeat center;
    background-size: cover;
}
.topic-item:nth-child(1) {
    padding-top: 45%;
}
.topic-content {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 11%;
    padding-left: 8%;
}
.topic-item:nth-child(1) .topic-content {
    padding-top: 20%;
}
.topic-item .title {
    margin-bottom: 10%;
}
.title-h {
    font-size: 1.8rem;
    margin-right: 1rem;
}
.number {
    margin-right: 2px;
    color: #ffeb3b;
}
/*--------------媒体----------------------*/
.media {
    width: 95%;
    margin: 0 auto;
    color: #eee;
}
.media-item {
    position: relative;
    height: 9rem;
    padding: 1.5rem .9rem 1.5rem 6rem;
    border-bottom: 1px solid #757575;
}
.media-item .media-logo {
    position: absolute;
    left: .6rem;
    width: 4.6rem;
    height: 4.6rem;
    margin-top: .7rem;
}
.media-item .content .title {
    font-size: 1.4rem;
    margin-bottom: .9rem;
}


/*--------------我--------------*/
.account {
    width: 95%;
    margin: 0 auto;
    color: #eee;
}
.me {
    overflow: hidden;
    padding: 2rem 0 1.1rem .8rem;
    border-bottom: 1px solid #757575;
}
.me .avatar {
    position: relative;
    float: left;
    height: 5.5rem;
}
.set {
    float: left;
    margin-left: 1.6rem;
}
.set .name {
    font-size: 1.4rem;
}
.set i {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: .8rem;
    margin-right: .8rem;
    color: #ffeb3b;
}
.attention {
    padding: 1.2rem 1.1rem 0 1.1rem;
    border-bottom: 1px solid #757575;
}
.attention .title {
    margin-left: .6rem;
}
.attention .title i {
    font-size: 1.2rem;
    margin-right: .8rem;
    color: #ffeb3b;
}
.attention-list {
    overflow: hidden;
}
.attention-list-item {
    float: left;
    width: 8.5rem;
    padding: .8rem .64rem;
    text-align: center;
}
.attention-list-item img {
    height: 5.5rem;
}
.attention-list-item p {
    padding: 0 .5rem;
}
/*-----------收藏，与推荐相同--------*/
.collect {
    padding: 1.2rem 1.1rem 0 1.1rem;
    border-bottom: 1px solid #757575;
}
.collect .title {
    margin-bottom: 1.2rem;
    margin-left: .6rem;
}
.collect .title i {
    font-size: 1.2rem;
    margin-right: .8rem;
    color: #ffeb3b;
}
.collect-list {
    overflow: hidden;
}
.collect-list-item {
    position: relative;
    float: left;
    width: 48.5%;
    margin-bottom: 3%;
    padding-top: 48.5%;
    background: no-repeat center/cover;
    background-image: url(../img/recommend-back.png);
}
.collect-list-item:nth-child(even) {
    margin-left: 3%;
}
.collect-list-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .6rem 0 .3rem .6rem;
    background-color: rgba(15, 59, 145, .8);
}
.collect-list-content .title {
    font-size: 1.3rem;
    margin-bottom: .6rem;
}
.collect-list-content span {
    margin-right: .3rem;
}
/*--------------------登录----------------------*/
.login, .register{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    color: #ffeb3b;
    background: url(../img/login-back.png) no-repeat center/cover;
}
.login-content, .register-content {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    max-width: 400px;
}
.login-content .title {
    font-size: 4rem;
    margin-top: 9rem;
    text-align: center;
}
.login-content input, .register-content input {
    display: block;
    width: 100%;
    height: 2.6rem;
    margin-top: 3.5rem;
    text-indent: 2rem;
    color: #ffeb3b;
    border: 1px solid #ffeb3b;
    border-radius: .5rem;
    background-color: rgba(17, 17, 17, .6);
}
.login-content .to-register {
    color: #ffeb3b;
    margin-top: .9rem;
    margin-right: .3rem;
    text-align: right;
}
.login-content .to-register a {
    color: #ffeb3b;
}
.login-button, .register-button {
    clear: both;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 1.5rem;
    background-color: #ffeb3b;
    color: #212121;
    display: inline-block;
    padding: .6rem 6rem;
    border-radius: 10rem;
}
input::-webkit-input-placeholder {
    font-family: 'Microsoft YaHei', sans-serif;
    /* WebKit browsers */
    text-indent: 2rem;
    color: #746b1f;
}
input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Microsoft YaHei', sans-serif;
    text-indent: 2rem;
    color: #746b1f;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Microsoft YaHei', sans-serif;

    text-indent: 2rem;
    color: #746b1f;
}
input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Microsoft YaHei', sans-serif;
    text-indent: 2rem;
    color: #746b1f;
}

/*--------------注册----------*/
.register-content input {
    margin-top: 2rem;
}
.add-avatar {
    padding: 3rem 0 1rem 0;
    width: 6rem;
    margin: 0 auto;
    text-align: center;
}
.add-avatar img {
    width: 5rem;
}

/*--------------媒体详情----------------*/
.media-detail {
    color: #eeeeee;
    width: 100%;
    height: 900px;
    background: url(../img/media-detail-back.png) no-repeat top left/100% auto;
}
.media-detail .intro {
    width: 21rem;
    margin: 0 auto;
    padding-top: 1.3rem;
    text-align: center;
}
.media-detail .intro img {
    width: 6.5rem;
    /*消除图片底部的边距*/
    vertical-align: bottom; 
}
.media-detail .intro .name {
    font-size: 1.3rem;
    margin: 1.3rem 0;
}
.media-detail .intro > p {
     margin-bottom: 1.9rem; 
}
.media-detail .intro .circle {
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    border: 1px solid #ffeb3b;
    border-radius: 4rem;
    line-height: 4rem;
    color: #ffeb3b;
    margin-bottom: .3rem;
}
.media-detail .media-activity {
    width: 100%;
    overflow: hidden;
}
.media-detail .media-activity > div {
    float: left;
    width: 4rem;
    margin: 0 1.5rem 2rem 1.5rem;
}
/*--------媒体全部文章，和推荐部分样式相同，之后考虑整合一下重复代码---*/
.media-article-list {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.media-article-item {
    position: relative;
    float: left;
    width: 48.5%;
    margin-bottom: 3%;
    padding-top: 48.5%;
    background: no-repeat center/cover;
    background-image: url(../img/recommend-back.png);
}
.media-article-item:nth-child(even) {
    margin-left: 3%;
}
.media-article-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .6rem 0 .3rem .6rem;
    background-color: rgba(15, 59, 145, .8);
}
.media-article-content .title {
    font-size: 1.3rem;
    margin-bottom: .6rem;
}
.media-article-content span {
    margin-right: .3rem;
}

/*-------------专题详情------------------*/
.topic-detail .intro {
    position: relative;
    width: 100%;
    padding-top: 70%;
    margin-bottom: .5rem;
    background: no-repeat center/cover;
    background-image: url(../img/topic-detail-back.png);
    text-align: center;
}
.topic-detail .intro-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.topic-detail .intro-content .title {
    font-size: 1.5rem;
    margin-top: 6.2rem;
}
.topic-detail .intro-content p {
    margin-top: 3.6rem;
}
.topic-detail .intro-content .article-num {
    position: absolute;
    right: 1.3rem;
    bottom: 1.3rem;
}
.topic-detail .intro-content .article-num .number {
    color: #ffeb3b;
}
.topic-article {
    width: 95%;
    margin: 2rem auto;
}
.topic-article .title {
    color: #ffeb3b;
    margin-bottom: 1.3rem;
}
.topic-article .title-image {
    width: 100%;
    /*消除底部边距*/
    vertical-align: bottom;
}
.topic-article .topic-media {
    text-align: right;
    margin: 1rem .9rem 1rem 0;
}
.topic-article .content {
    overflow: hidden;
}
.topic-article .date {
    width: 20%;
    float: left;
}
.topic-article .date .day {
    color: #ffeb3b;
    font-size: 1.4rem;
    padding: .8rem;
}
.topic-article .summary {
    width: 80%;
    float: left;
    border: 1px solid #ffeb3b;
    border-radius: .8rem;
    padding: .8rem;
}
.back {
    position: fixed;
    left: 1.9rem;
    bottom: 1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0 , 0, 0, .5);
    border-radius: 1rem;
}