<div class="account" ng-cloak>
    <div class="me">
        <img src="{{userInfo.user_avatar}}" alt="" class="avatar">
        <div class="set">
            <div class="name">{{userInfo.username}}</div>
            <a class="switch" ng-click="switchMode()">场景切换</a>
            <div ng-click="exit()">退出登录</div>
        </div>
    </div>
    <div class="attention">
        <div class="title">
            <i class="icon-heart-empty"></i>
            <span>我关注的媒体</span>
        </div>
        <div class="scroll">
            <ul class="attention-list">
                <li ng-repeat="item in userInfo.medias">
                    <img src="{{item.media_avatar}}" alt="">
                    <p>{{item.media_name}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="collect">
        <div class="title">
            <i class="icon-star-empty"></i>
            <span>我收藏的文章</span>
        </div>
        <ul>
        <li ng-repeat="item in userInfo.articles" ui-sref="article({articleId: item.id})" 
                style="background-image:url({{item.article_img}})">
            <div class="content" style="background-color: {{item.article_color}}">
                <p class="title">{{item.article_title}}</p>
                <span><i class="icon-attach-1"></i>{{item.article_media_name}}</span>
                <span><i class="icon-tags"></i>{{item.article_topic_name}}</span>
            </div>
        </li>
        </ul>
    </div>
</div>