@import 'var.less';
.media {
    width: 95.56%;
    margin: 0 auto;
    li {
        position: relative;
        padding: 1.3rem 1.95rem 1.95rem 5.6rem;
        .media-logo {
            position: absolute;
            top: 2.6rem;
            left: .6rem;
            width: 3.7rem;
            height: 3.7rem;
            border-radius: 50%;
        }
        .content {
            .title {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            .intro {
                overflow: hidden;
                height: 3rem;
            }
        }
    }
}
.media-detail {
    padding-bottom: 5rem;
    .intro {
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        text-align: center;
        background: no-repeat center/86.6% auto;
        background-image: url(../img/media-detail-back.png);
        .img {
            width: 24.4%;
            margin: 4% auto 0;
            padding-top: 24.4%;
            border: 1px solid #f1f1f1;
            border-radius: 50%;
            background: no-repeat center/cover;
        }
        .name {
            font-size: 1.3rem;
            margin: 4% auto;
        }
        & > p {
            width: 66.7%;
            margin: 0 auto;
            margin-bottom: 6%;
        }
        .activity {
            overflow: hidden;
            width: 66.7%;
            margin: 0 auto;
            .circle {
                font-size: 1.4rem;
                position: relative;
                width: 100%;
                margin-bottom: .5rem;
                padding-top: 100%;
                color: @yellow;
                border: 1px solid @yellow;
                border-radius: 50%;
                & > span,
                i {
                    line-height: 2.1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 2.1rem;
                    height: 2.1rem;
                    margin: auto;
                    text-align: center;
                }
            }
            & > div {
                float: left;
                width: 19.5%;
                margin: 0 6.5%;
            }
        }
    }
    .article-list {
        overflow: hidden;
        .article-item {
            position: relative;
            float: left;
            width: 46.67%;
            margin-bottom: 2.22%;
            margin-left: 2.22%;
            padding-top: 46.67%;
            background: no-repeat center/cover;
            background-image: url(../img/recommend-back.png);
        }
    }
}
