<ion-view view-title="醉晚亭 | 推荐">
    <ion-content>
        <div class="recommend">
            <ion-slide-box does-continue="true" auto-play="true">
                <ion-slide ng-repeat="item in [1,2,3]">
                    <div class="recommend-slide">
                        <div class="slide-content">
                            <div class="title">诗歌，离我们只有0.5m</div>
                            <span><i class="icon-attach"></i>艺术殿堂</span>
                            <span><i class="icon-tags"></i>某专题</span>
                            <p>“汉诗墙”是该艺术中心漫行书店台阶两边的墙，墙面装满书架，书架上所有图书均为《汉诗》编辑部所赠，共有从2008年3月至今出版的30种、6000多册《汉诗》。</p>      
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="recommend-line"></div>
            <span class="recommend-other">others</span>
            <ul class="recommend-list">
                <li class="recommend-item" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]" type="item-text-wrap">
                    <div class="recommend-content">
                        <div class="title">动漫音乐节</div>
                        <span><i class="icon-attach"></i>艺术殿堂</span>
                        <span><i class="icon-tags"></i>某专题</span>
                    </div>
                </li>
            </ul>        
        </div>
    </ion-content>
</ion-view>
