<ion-view view-title="醉晚亭 | 媒体">
    <ion-content>
        <div class="topic-detail">
            <div class="intro">
                <div class="intro-content">
                    <div class="title">每片叶子的不同</div>
                    <div class="article-num"><span class="number">50</span>篇</div>
                    <p>关于这个专题的更加详细的说明，避免用户产生迷惑</p>
                </div>
            </div>
            <div class="topic-article" ng-repeat="item in [1,2]">
                <div class="title"><i class="icon-tags"></i>每片叶子的不同</div>
                <img class="title-image" src="img/topic-article.png" alt="">
                <div class="topic-media"><i class="icon-attach"></i>艺术殿堂</div>
                <div class="content">
                    <div class="date">
                        <div class="day">03</div>
                        <div class="month">Dec, 2015</div>
                    </div>
                    <div class="summary">
                        你真正需要的是一场既能学到东西，又能产生情绪体验的时尚艺术品鉴会。 
                        茉客·时尚艺术品鉴会， 不仅是一场服装展会、一段模特走秀,
                        茉客·时尚艺术品鉴会， 不仅是一场服装展会、一段模特走秀
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="back" onclick="javascript:history_back();"><i></i></div> -->
    </ion-content>
</ion-view>