<div class="account" ng-cloak>
    <div class="me">
        <img src="img/avatar.png" alt="" class="avatar">
        <div class="set">
            <div class="name">sunshine</div>
            <i class="icon-cog-outline"></i><i class="icon-comment-empty"></i>
        </div>
    </div>
    <div class="attention">
        <div class="title">
            <i class="icon-heart-empty"></i>
            <span>我关注的媒体</span>
        </div>
        <div class="scroll">
            <ul class="attention-list">
                <li ng-repeat="item in [1,2,3,4,5,6]">
                    <img src="img/attention.png" alt="">
                    <p>华中科技大学学生会</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="collect">
        <div class="title">
            <i class="icon-star-half-alt"></i>
            <span>我收藏的文章</span>
        </div>
        <ul>
            <li ng-repeat="item in [1,2,3,4,5,6]">
                <div class="content">
                    <div class="title">动漫音乐节</div>
                    <span><i class="icon-attach"></i>艺术殿堂</span>
                    <span><i class="icon-tags"></i>某专题</span>
                </div>
            </li>
        </ul>
    </div>
</div>