<div class="account" ng-cloak>
    <div class="me">
        <img src="img/avatar.png" alt="" class="avatar">
        <div class="set">
            <div class="name">{{userInfo.username}}</div>
            <a class="switch" ng-click="switchMode()">场景切换</a>
        </div>
    </div>
    <div class="attention">
        <div class="title">
            <i class="icon-heart-empty"></i>
            <span>我关注的媒体</span>
        </div>
        <div class="scroll">
            <ul class="attention-list">
<!--                 <li ng-repeat="item in [1,2,3,4,5,6]">
                    <img src="img/attention.png" alt="">
                    <p>华中科技大学学生会</p>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="collect">
        <div class="title">
            <i class="icon-star-empty"></i>
            <span>我收藏的文章</span>
        </div>
        <ul>
        <li ng-repeat="item in userInfo.collect_article" ui-sref="article({articleId: item.id})" 
                >
            <div class="content">
                <p class="title">{{item.article_title}}</p>
                <span><i class="icon-attach-1"></i>{{item.article_media_name}}</span>
                <span><i class="icon-tags"></i>{{item.article_topic_name}}</span>
            </div>
        </li>
        </ul>
    </div>
</div>